.texto_1{ /* titulo en 1° capa */
    text-align: left;
    color: rgb(64, 240, 20);
}

#logo1{
    border-radius: 15px;
    border: 3px solid black;
    background-color: rgb(148, 3, 131);
}

#logo2{
    border-radius: 15px;
    border: 3px solid black;
}

#logo3{
    border-radius: 15px;
    border: 3px solid black;
    background-color: aqua;
}

.cartelHab {
    color: yellow;
}
