<div class="container mx-0">  <!-- 1° capa contenedor de elemento, logo titulo y boton -->
    <div class="row">
        <div class="col-md-2 my-1"> <!-- logo -->
            <a>
                <img src="../../../assets/imagenes/LogoAP.jpg" alt="logo" width="100" height="60" class="d-inline-block align-text-top" id="logo">
            </a>
        </div>
        <div class="col-md-9 texto_1 my-3" id="titulo_fecha">
            {{ titulo }} <!-- solo el titulo -->
        </div> 
    </div>
</div>
 