<div class="alert alert-warning mx-4" id="tituloseccion2" role="alert"> <!-- titulo estudios -->
    <div class="row">
        <div class="col-md-11 my-1">
            <h3 id="titulo_est">Estudios</h3>
        </div>
        <div class="col-md-1 my-1">
            <ng-template [ngIf]="muestra">
                <button (click)="navegaAgregaEstudio()" class="btn btn-outline-primary btn-sm" id="agregaEstudio">Agregar</button>
            </ng-template>
        </div>
    </div>
</div>
<div class="container"> <!-- tabla estudios -->

    <div *ngIf="cargando; else yaEstaCargado">
        <div>
            <h3>Cargando...</h3>
            <h1></h1>
            <div class="spinner-border text-primary"></div>
            <h1></h1>
        </div>
    </div>
    
    <ng-template #yaEstaCargado>
        <table class="table table-dark table-striped">             <!-- tabla "estudios" -->
            <thead>                <!-- encabezado de tabla -->
                <tr>
                    <th>Año</th>
                    <th>Institución</th>
                    <th>Descripción</th>
                </tr>
            </thead>
    
            <tbody id="datos_estudios">
                <tr *ngFor="let estudio of listaEstudios">
                    <!-- datos venen del json -->
                    <div *ngIf="muestra; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
    
                        <td>{{estudio.anio}}</td>
                        <td>{{estudio.institucion}}</td>
                        <td>{{estudio.descripcion}}</td>
    
                        <button (click)="navegaAEditaEstudio(estudio.id)" class="btn btn-outline-primary btn-sm"
                            id="editEst">Edit</button>
                        <button (click)="borraEstudio(estudio.id)" class="btn btn-outline-danger btn-sm"
                            id="eliminaEst">Borrar</button>
    
                    </ng-template>
    
                    <ng-template #elseBlock>
                        <td>{{estudio.anio}}</td>
                        <td>{{estudio.institucion}}</td>
                        <td>{{estudio.descripcion}}</td>
                    </ng-template>
    
                </tr>
            </tbody>
        </table>
    </ng-template>
</div>

