<app-encabezado-simple></app-encabezado-simple>
<section class="form-login">
    <h4>Formulario Agrega experiencia</h4>
    <h5></h5>
    <label>Año Inicio:</label>
    <input class="controls" type="text" [(ngModel)]="nuevoDesde">

    <label>Año Fin:</label>
    <input class="controls" type="text" [(ngModel)]="nuevoHasta" value="">

    <label>Empresa:</label>
    <input class="controls" type="text" [(ngModel)]="nuevaEmpresa" value="">

    <label>Descripción:</label>
    <input class="controls" type="text" [(ngModel)]="nuevaDescr" value="">

    <button (click)="agregaExperiencia()" type="button" class="btn btn-outline-primary btn-sm" >OK</button>

</section>
