.caja {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    width: 100 px;
    background-color: tomato;
    font-weight: bolder;
    font-size: medium;
    border-radius: 15px;
    border: 3px solid blue;
}

.texto_E {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 30px;
}

#spiner1 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
}