.caja {
    margin-top: 10%;
    width: 100 px;
    background-color: tomato;
    font-weight: bolder;
    font-size: medium;
}

.texto_E {
    text-align: center;
    color: white;
    margin-top: 50px;
}

#spiner1 {
    margin-top: 50px;
    margin-bottom: 30px;
}