<app-encabezado-simple></app-encabezado-simple>

<section class="form-login">
    <h4>Formulario edita experiencia</h4>
    <h5></h5>

    <div *ngIf="cargando; else yaEstaCargado">
        <div>
            <h3 class="etiqCarga">Cargando...</h3>
            <h1></h1>
            <div class="spinner-border text-warning"></div>
        </div>
    </div>

    <ng-template #yaEstaCargado>
        <label>Desde:</label>
        <input class="controls" type="text" [(ngModel)]="experiencia.desde">

        <label>Hasta:</label>
        <input class="controls" type="text" [(ngModel)]="experiencia.hasta">

        <label>Empresa:</label>
        <input class="controls" type="text" [(ngModel)]="experiencia.empresa" value="">

        <label>Descripción:</label>
        <input class="controls" type="text" [(ngModel)]="experiencia.descripcion" value="">

        <div class="container_botones mx-5">
            <div class="row">
                <div class="col-md-2">
                    <button (click)="guardaExperiencia()" type="button"
                        class="btn btn-outline-primary btn-sm">OK</button>
                </div>
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <button (click)="cancelar()" type="button" class="btn btn-outline-danger btn-sm">Cancelar</button>
                </div>
            </div>
        </div>
    </ng-template>
</section>