<app-encabezado-simple></app-encabezado-simple>

<section class="form-login">
    <h4>Formulario edita experiencia</h4>
    <h5></h5>
    <label>Desde:</label>
    <input class="controls" type="text" [(ngModel)]="experiencia.desde">

    <label>Hasta:</label>
    <input class="controls" type="text" [(ngModel)]="experiencia.hasta">

    <label>Empresa:</label>
    <input class="controls" type="text" [(ngModel)]="experiencia.empresa" value="">

    <label>Descripción:</label>
    <input class="controls" type="text" [(ngModel)]="experiencia.descripcion" value="">

    <div class="container_botones mx-5">
        <div class="row">
            <div class="col-md-2">
                <button (click)="guardaExperiencia()" type="button" class="btn btn-outline-primary btn-sm" >OK</button>
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <button (click)="cancelar()" type="button" class="btn btn-outline-danger btn-sm" >Cancelar</button>
            </div>
        </div>
    </div>
</section>
<!-- 
<div>
    <h3>Id: {{experiencia.id}} </h3>
    <h3>Desde: {{experiencia.desde}}</h3>
    <h3>Hasta: {{experiencia.hasta}}</h3>
    <h3>Empresa: {{experiencia.empresa}}</h3>
    <h3>Descripción: {{experiencia.descripcion}}</h3>
</div> -->