<div class="container mx-0">  <!-- 1° capa contenedor de elemento, logo titulo y boton -->
    <div class="row">
        <div class="col-md-2 my-1"> <!-- logo -->
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                <img src="../../../assets/imagenes/LogoAP.jpg" alt="logo" width="100" height="60" class="d-inline-block align-text-top" id="logo">
            </a>
        </div>
        <div class="col-md-9 texto_1 my-3" id="titulo_fecha">
            {{ titulo }} - {{fecha}} {{hora}}   <!-- titulo,fecha y hora -->
            <ng-template [ngIf]="muestra">
                <div id="titulo_fecha">
                    ¡ Edición habilitada !
                </div>
            </ng-template>
        </div> 
        <div class="col-md-1 my-3">  <!-- boton login para editar -->
            <button (click)="navegaALogin()" type="button" class="btn btn-outline-primary btn-sm">
                {{logx}} </button>
        </div>
    </div>
</div>
