<app-encabezado-simple></app-encabezado-simple>
<h1 id="tituloPagina">Edicion de Skills</h1>
<div class="row" id="columnaPpal">
    <div class="text-center col-md-4 my-1">
        <label id="titulo">Pordentaje</label>
        <button (click)="suma()" class="btn btn-outline-primary btn-sm" id="editProy">+</button>
        <button (click)="resta()" class="btn btn-outline-primary btn-sm" id="editProy">-</button>
        <label id="valor">{{ skills.valor }}</label>
        <br>
        <label id="titulo">Titulo:</label>
        <input class="controls" type="text" [(ngModel)]="skills.titulo" value="" id="cajaTexto">
        <br>
        <div class="container_botones mx-5">
            <br>
            <div class="row">
                <div class="col-md-3">
                    <button (click)="guardaSkills()" type="button" class="btn btn-outline-primary btn-sm" >OK</button>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-3">
                    <button (click)="cancelar()" type="button" class="btn btn-outline-danger btn-sm" >Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-md-4 my-1">
        <circle-progress
                [title]="skills.titulo"
                [percent]="skills.valor"
                [subtitle]="skills.valor+'%'"
                [radius]="65"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="100"
                [titleColor]="'white'"
                [subtitleColor]="'white'"
                [subtitleFontSize]="'20'"
        ></circle-progress>
    </div>
    <div class="text-center col-md-6 my-1">
    </div>
</div>