<div class="alert alert-warning mx-4" id="tituloseccion2" role="alert"> <!-- titulo estudios -->
    <div class="row">
        <div class="col-md-11 my-1">
            <h3 id="titulo_est">Hard & Soft Skills</h3>
        </div>
        <div class="col-md-1 my-1">
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="text-center col-md-3 my-1">
            <circle-progress
                [title]="skills_1.titulo"
                [percent]="skills_1.valor"
                [subtitle]="skills_1.valor+'%'"
                [radius]="65"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
        <div class="text-center col-md-3 my-1">
            <circle-progress
                [title]="skills_2.titulo"
                [percent]="skills_2.valor"
                [subtitle]="skills_2.valor+'%'"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f406dc'"
                [innerStrokeColor]="'#f59bec'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
        <div class="text-center col-md-3 my-1">
            <circle-progress
                [title]="skills_3.titulo"
                [percent]="skills_3.valor"
                [subtitle]="skills_3.valor+'%'"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#3ac0f5'"
                [innerStrokeColor]="'#ace2f8'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
        <div class="text-center col-md-3 my-1">
            <circle-progress
                [title]="skills_4.titulo"
                [percent]="skills_4.valor"
                [subtitle]="skills_4.valor+'%'"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#fce805'"
                [innerStrokeColor]="'#f0f09d'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="text-center col-md-3 my-1">
            <circle-progress
                [title]="skills_5.titulo"
                [percent]="skills_5.valor"
                [subtitle]="skills_5.valor+'%'"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
        <div class="text-center col-md-3 my-1">
            <circle-progress class="circulo1"
                [title]="skills_6.titulo"
                [percent]="skills_6.valor"
                [subtitle]= "skills_6.valor+'%'"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#f406dc'"
                [innerStrokeColor]="'#f59bec'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
        <div class="text-center col-md-3 my-1">
            <circle-progress
                [title]="skills_7.titulo"
                [percent]="skills_7.valor"
                [subtitle]="skills_7.valor+'%'"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#3ac0f5'"
                [innerStrokeColor]="'#ace2f8'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
        <div class="text-center col-md-3 my-1">
            <circle-progress
                [title]="skills_8.titulo"
                [percent]="skills_8.valor"
                [subtitle]="skills_8.valor+'%'"
                [radius]="80"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#fce805'"
                [innerStrokeColor]="'#f0f09d'"
                [animation]="true"
                [animationDuration]="1200"
                [titleColor]="'white'"
            ></circle-progress>
        </div>
    </div>
</div>
