<app-encabezado-simple></app-encabezado-simple>
<div class="container mx-0">
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-2">
                <h1></h1>
                <h1></h1>
                <h1> Perfecto!</h1>
                <h1></h1>
                <h1></h1>
                <img src="../../../assets/imagenes/LogoOK.png" alt="logo" class="d-inline-block align-text-top" id="logo">
                <h1></h1>
                <h1></h1>
                <h1>Ya puede editar!</h1>
        </div>
        <div class="col-md-5">
        </div>
    </div>
</div>
