<app-encabezado-simple></app-encabezado-simple>
<section class="form-login">
    <h4>Formulario Agrega proyecto</h4>
    <h5></h5>
    <label>Año del proyecto:</label>
    <input class="controls" type="text" [(ngModel)]="nuevoProyecto.anio">

    <label>Descripción:</label>
    <input class="controls" type="text" [(ngModel)]="nuevoProyecto.descripcion" value="">

    <div class="container_botones mx-5">
        <div class="row">
            <div class="col-md-2">
                <button (click)="agregaProyecto()" type="button" class="btn btn-outline-primary btn-sm" >OK</button>
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <button (click)="cancelar()" type="button" class="btn btn-outline-danger btn-sm" >Cancelar</button>
            </div>
        </div>
    </div>
</section>
