/* You can add global styles to this file, and also import other style files */
body{
    /* background-color: black; */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  /* #2C5364 */

.container_banner { /* del componenete banner */
    border-radius: 30px;
    border: 3px solid rgb(22, 6, 243);
    width: 90%;
    height: 180px;
    background-image: url(assets/imagenes/Fondo_Electronica_3.jpg);
    background-size: 100%;
    animation: movimiento 30s infinite linear alternate;
    margin-bottom: 10px;
}

.alert{ /* titulos de secciones de datos (previos a las tablas) */
    color: black;   
}

th{  /* encabezado de tablas */ 
    color:rgb(6, 200, 243);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
