<app-encabezado-simple></app-encabezado-simple>
<section class="form-login">
    <h4>Formulario Edita titular</h4>
    <h5></h5>

    <div *ngIf="cargando; else yaEstaCargado">
        <div>
            <h3 class="etiqCarga">Cargando...</h3>
            <h1></h1>
            <div class="spinner-border text-warning"></div>
        </div>
    </div>

    <ng-template #yaEstaCargado>

        <label>Titular:</label>
        <input class="controls" type="text" [(ngModel)]="datosTitular.nombre">
    
        <label>Titulo:</label>
        <input class="controls" type="text" [(ngModel)]="datosTitular.titulo">
    
        <label>Usuario:</label>
        <input class="controls" type="text" [(ngModel)]="datosLogNuevos.usuario">
    
        <label>Contraseña:</label>
        <input class="controls" type="text" [(ngModel)]="datosLogNuevos.contrasenia">
    
        <label>URL de la foto:</label>
        <input class="controls" type="text" [(ngModel)]="datosTitular.url_foto">

        <div class="container_botones mx-5">
            <div class="row">
                <div class="col-md-2">
                    <button (click)="editaTitular()" type="button" class="btn btn-outline-primary btn-sm">OK</button>
                </div>
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <button (click)="cancelar()" type="button" class="btn btn-outline-danger btn-sm" >Cancelar</button>
                </div>
            </div>
        </div>
    </ng-template>
    
</section>

